{% extends 'base.html' %}
{%block content%}
    <div class="text-black bg-white shadow lg mt-5 p-5">
    <h2 class="text-black bg-white shadow lg mt-5 p-5">
        THIS PROJECT IS BASED ON OPEN AI ITS FULLY MY LOGICAL PROJECT YOU NEVER GONNA FIND IT ON GOOGLE OR ANY YOUTUBE 
        YOU CAN FIND YOUR QUESTIONS ANSWER HERE
    </h2>
    <center>
        <footer>
            <div class="mt-5 p-5 ">
                <a href="https://github.com/prince-python " class="btn btn-primary text-white">GITHUB</a>
            </div>
        </footer>
    </center>

    </div>
{%endblock%}